body > :first-child, #withGraph > *, #simulator > *, #optimizer > * {
  padding: 5px;
}

#selection {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--min-content,160px), max-content)
  );
  gap: 5px;
}

#depth {
  width: calc(2ch + 20px);
}

#selection label {
  padding: 4px;
}

#stepSelection {
  display: flex;
  flex-direction: row;
}

#stepSelection > div {
  border: 1px solid black;
  padding: 3px;
  display: flex;
  flex-direction: column;
  min-width: 110px;
}

#stepSelection > div > p {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  user-select: none;
  cursor: grab;
}

#selectedSteps > p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
}