body > * {
  padding: 5px;
}

#selection {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--min-content,160px), max-content)
  );
  gap: 5px;
}

#depth {
  width: calc(2ch + 20px);
}

#selection label {
  padding: 4px;
}