body {
  background: #263038;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

body > :first-child, #withGraph > *, #simulator > *, #optimizer > * {
  padding: 5px;
}

#selection {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--min-content,160px), max-content)
  );
  gap: 5px;
}

#depth {
  width: calc(2ch + 20px);
}

#selection label {
  padding: 4px;
}

#stepSelection {
  display: flex;
  flex-direction: row;
}

#stepSelection > div {
  border: 1px solid black;
  padding: 3px;
  display: flex;
  flex-direction: column;
  min-width: 110px;
}

#stepSelection > div > p {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  user-select: none;
  cursor: grab;
}

#selectedSteps > p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
}

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: #FF3D00;
  width: 3px;
  height: 24px;
  transform: translateX(-50%);
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[hidden] {
  display: none !important;
}